@page
@model IndexModel
@{
    ViewData["Title"] = "Startside";
}

<h1 class="display-4">Gradueringsdiplomgenerator</h1>

<form enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label for="csv">Csv-fil</label>
        <input type="file" />
    </div>

    <input class="btn btn-success" type="submit" value="Upload" />
</form>